<div class="nav-links">
  <a class="data-confetti-button" href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</div>

<script>
  // Import npm modules.
  import confetti from 'canvas-confetti';

  // Find our component DOM on the page.
  const buttons = document.querySelectorAll('[data-confetti-button]');

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener('clicked', () => confetti());
  });
</script>
